<div *ngIf="!infoFilm; else info">
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><mat-icon>play_arrow</mat-icon></a>
      <div class="d-flex" standalone>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)] = "nomeFilm">
        <button class="btn btn-outline-success" (click)="chiamaDatiFilm()">Search</button>
      </div>
    </div>
  </nav>


  
  <div *ngFor="let num of FilmCollector; let i = index">
  <mat-card
  
  class="example-card"
  role="button" *ngIf="FilmCollector[i].image != 'https://imdb-api.com/images/original/nopicture.jpg'"
>
  <mat-card-header>
    <mat-card-title>{{ FilmCollector[i].title }}</mat-card-title>
    <p>{{ FilmCollector[i].year }}</p>
  </mat-card-header>
  <img
    mat-card-image
    [src]="FilmCollector[i].image"
  />
  <mat-card-content>
    <p>
      {{ this.FilmCollector[i].plotShort }}
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="logged">
    <button mat-button (click)="addFavourite(i)">LIKE</button>
  </mat-card-actions>
</mat-card>
</div>
</div>




<!-- <div class="card mb-3" style="max-width: 540px;" routerLink="/login" *ngFor="let num of FilmCollector; let i = index">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="FilmCollector[i].image" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ FilmCollector[i].title }}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">{{ FilmCollector[i].year }}</small></p>
        </div>
      </div>
    </div>
  </div> -->

  <ng-template #info>
    <p>
      {{ this.FilmCollector[0].plotShort }}
    </p>
  </ng-template>