<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" >
    <div class="container-fluid">
      <mat-icon>play_arrow</mat-icon>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/coming">Coming</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/top250">Top 250</a>
          </li>
        </ul>
  
        <form *ngIf = "getControlloLogin(); else logged">
          <a routerLink="/login">
            <button class="btn btn-outline-success" type="submit">logged</button>
          </a>
        </form>
  
      </div>
    </div>
  </nav>
  
  
  
  <ng-template #logged>
    <form>
      <a routerLink="/login">
        <button class="btn btn-outline-success" type="submit">Login</button>
      </a>
    </form>
  </ng-template>
